<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h4 class="mb-4">
                @if (string.IsNullOrEmpty(Model.Id))
                {
                    <text>Create User</text>
                }
                else
                {
                    <text>Edit User</text>
                }
            </h4>
            <form action="/Admin/User/Add" method="post">
                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="firstName">First Name</label>
                            <input type="text" id="firstName" name="FirstName" class="form-control" placeholder="Enter your first name" value="@Model.FirstName" required>
                            <span class="text-danger" id="firstNameError"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="lastName">Last Name</label>
                            <input type="text" id="lastName" name="LastName" class="form-control" placeholder="Enter your last name" value="@Model.LastName" required>
                            <span class="text-danger" id="lastNameError"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="Email" class="form-control" placeholder="Enter your email" value="@Model.Email" required>
                    <span class="text-danger" id="emailError"></span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="Password" class="form-control" placeholder="Enter your password">
                            <span class="text-danger" id="passwordError"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="confirmPassword">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control" placeholder="Confirm your password">
                            <span class="text-danger" id="confirmPasswordError"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    @if (string.IsNullOrEmpty(Model.Id))
                    {
                        <text>Add</text>
                    }
                    else
                    {
                        <text>Update</text>
                    }
                </button>
            </form>
        </div>
    </div>
</div>
